{% load reporting_tags %}
<table class="table">
    <tr>
        <th>S</th>
        <th>P</th>
        <th>E</th>
        <th>C</th>
        <th>S</th>
        <th>&nbsp;</th>
    </tr>
    <tr>
        <td>G</td>
        <td>G</td>
        <td>G</td>
        <td>G</td>
        <td>G</td>
        <td>&gt;$5M</td>
    </tr>
    <tr>
        <td>G</td>
        <td>G</td>
        <td>G</td>
        <td>G</td>
        <td>G</td>
        <td>$1-5M</td>
    </tr>
    <tr>
        <td>G</td>
        <td>G</td>
        <td>G</td>
        <td>G</td>
        <td>G</td>
        <td>&lt;$1M</td>
    </tr>
</table>                        
