<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Scalability / Operational Maturity</div>
    <!-- Table -->
    <table class="table">
        <tr>
            <td>Account Management</td>
            <td></td>
        </tr>
        <tr>
            <td>Contacts List</td>
            <td></td>
        </tr>
        <tr>
            <td>Communciations</td>
            <td></td>
        </tr>
        <tr>
            <td>Staffing Model / Level</td>
            <td></td>
        </tr>
        <tr>
            <td>MOPs</td>
            <td></td>
        </tr>
        <tr>
            <td>EOPs</td>
            <td></td>
        </tr>
        <tr>
            <td>Black / Gray Day Compliance</td>
            <td></td>
        </tr>
        <tr>
            <td>Helpdesk / NOC</td>
            <td></td>
        </tr>
        <tr>
            <td>Maintenance Notifications</td>
            <td></td>
        </tr>
        <tr>
            <td>Events / Incidents Notifications</td>
            <td></td>
        </tr>
        <tr>
            <td>Non-Impacting Events / Incidents</td>
            <td></td>
        </tr>
        <tr>
            <td>Post Event / Incident Reporting</td>
            <td></td>
        </tr>
        <tr>
            <td>BMS</td>
            <td></td>
        </tr>
        <tr>
            <td>Number of Sites Not Used by AWS Globally</td>
            <td></td>
        </tr>
        <tr>
            <td>Rack Availability in Site</td>
            <td></td>
        </tr>
        <tr>
            <td>Portal</td>
            <td></td>
        </tr>
    </table>
</div>  
