<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Security</div>
    <!-- Table -->
    <table class="table">
        <tr>
            <td>Contact list</td>
            <td class="red">{{ specs.security.contact_list }}</td>
        </tr>
        <tr>
            <td>Average Response Time</td>
            <td class="orange">{{ specs.security.average_response_time }}</td>
        </tr>
        <tr>
            <td>Issues</td>
            <td class="yellow">{{ specs.security.issues }}</td>
        </tr>
        <tr>
            <td>SLA Violations</td>
            <td class="green">{{ specs.security.sla_violations }}</td>
        </tr>
        <tr>
            <td>Staffing Model/Level</td>
            <td class="red">{{ specs.security.staffing_model_level }}</td>
        </tr>
    </table>
</div>  
