<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Pricing and Invoicing</div>
    <!-- Table -->
    <table class="table">
        <tr>
            <td>Payment Terms</td>
            <td></td>
        </tr>
        <tr>
            <td>Invoicing Performance</td>
            <td></td>
        </tr>
        <tr>
            <td>Average first to last Quote</td>
            <td></td>
        </tr>
        <tr>
            <td>PUE</td>
            <td></td>
        </tr>
        <tr>
            <td>Per Unit Cost</td>
            <td></td>
        </tr>
    </table>
</div>  
