<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Engineering</div>
    <!-- Table -->
    <table class="table">
        <tr>
            <td>Colo Audit Score</td>
            <td></td>
        </tr>
        <tr>
            <td>Non-Impacting Events/Incidents</td>
            <td></td>
        </tr>
        <tr>
            <td>Impacting Events/Incidents</td>
            <td></td>
        </tr>
        <tr>
            <td>SLA Violations</td>
            <td></td>
        </tr>
        <tr>
            <td>International DC Tiering Level</td>
            <td></td>
        </tr>
    </table>
</div>  
