<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Contract</div>
    <!-- Table -->
    <table class="table">
        <tr>
            <td>Ease of doing business</td>
            <td></td>
        </tr>
        <tr>
            <td>Reporting</td>
            <td></td>
        </tr>
        <tr>
            <td>Contractual Compliance</td>
            <td></td>
        </tr>
        <tr>
            <td>SLA Violations</td>
            <td></td>
        </tr>
    </table>
</div>  
