{% extends "reporting/base.html" %}

{% block title %}Homepage{% endblock title %}

{% block content %}
<p>The SPECS (Security Pricing & invoicing Engineering Contract Scalability) database gives Global Infrastructure Business Development (GIBD) the ability to correlate the quality of a colocation site, based on sound engineering research and vendor performance using the SPECS methodology. This allows the business to derive not just the cost; but the value of a colocation site or vendor. </p>

<p>As a globally large purchaser of colocation space we have extensive knowledge of colocation vendors, services, products and conditions in every continent. The SPECS database allow us to quantify and analyse this knowledge by building vendor performance and marketplace analytic tools.</p>
{% endblock content %}

